In [1]:
import pandas as pd

In [2]:
nfl_file_path = './wr-top24-data.csv'
nfl_data = pd.read_csv(nfl_file_path) 
nfl_data.describe()

,# of Top 5 Szns,# of Top 12 Szns,# of Top 24 Szns,Draft,Age,Draft Year,Cr.Year,SZN Year,POS RK,PPG POS RK,...,YPR,Yd/Tgt,TGT%.1,AirYards,AY/Tgt,YAC,RACR,Airyards %,WOPR,AirYAC (AY+YAC)
count,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,...,387.000000,388.000000,390.000000,390.000000,388.000000,390.000000,388.000000,390.000000,390.000000,390.000000
mean,0.807692,1.702564,3.112821,102.284615,25.376923,2013.133333,4.138462,2016.271795,44.853846,42.182051,...,13.792248,8.390206,0.200795,1081.205128,11.174485,274.412821,0.836418,0.265590,0.487051,1355.617949
std,1.383503,1.783600,2.030004,106.035758,2.622619,2.520388,2.471703,2.697800,42.238662,38.202144,...,3.227287,1.793285,0.065026,524.333411,2.687562,154.624236,1.098717,0.099578,0.161270,625.360643
min,0.000000,0.000000,1.000000,4.000000,21.000000,2010.000000,1.000000,2010.000000,1.000000,1.000000,...,4.800000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,26.250000,23.000000,2011.000000,2.000000,2014.000000,14.000000,14.000000,...,12.000000,7.475000,0.170000,718.000000,9.600000,161.250000,0.640000,0.200000,0.400000,915.750000
50%,0.000000,1.000000,3.000000,63.000000,25.000000,2013.000000,4.000000,2017.000000,30.000000,30.000000,...,13.700000,8.300000,0.210000,1050.500000,11.200000,267.000000,0.760000,0.270000,0.500000,1403.500000
75%,1.000000,3.000000,5.000000,101.000000,27.000000,2015.000000,6.000000,2018.000000,65.000000,58.750000,...,15.200000,9.300000,0.240000,1448.750000,12.925000,381.750000,0.910000,0.340000,0.600000,1789.250000
max,6.000000,7.000000,8.000000,329.000000,33.000000,2020.000000,11.000000,2020.000000,218.000000,218.000000,...,45.000000,22.000000,0.350000,2708.000000,26.800000,708.000000,22.000000,0.510000,0.840000,2939.000000